/* footer style */

footer{
    color: white;
    display: grid;
    grid-template-columns: 279px 1fr;
    background-color: #491c60;
    width: 100%;
    padding: 21px;
    z-index:1000;
    margin-top:20px;
}


.social-icons{
	padding:30px;
	background-color:#491c60;
    text-align: center;
}
.social-icons a{
    color:#fff;
    line-height:30px;
    font-size:30px;
    margin: 0 5px;
    text-decoration:none;

}
.social-icons a i{
	line-height:30px;
    font-size:30px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
.social-icons a:hover i{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.right{
    color: white
}

.nous{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.us{
    color: rgba(255,255,255, 0.75);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reducecolor{
    color: rgba(255,255,255, 0.75);
}

.fa{
    color: white;
}
